.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.game-body {
  background: #8e8e8e;
  border-radius: 5px;
}
.game-body .row:nth-child(even) {
  background: #c9c9c9;
}
.game-score {
}
.team1 h4, .team2 h4 {
  font-size: 5em;
}
.team1-stats, .team2-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0 15px;
}
